# 2. 파이썬으로 데이터 주무르기, pandas
**pandas를 활용해서 데이터프레임을 다뤄봅시다.**

1. Pandas 시작하기
    - prerequisite : Table
    - pandas import하기
   
2. Pandas로 1차원 데이터 다루기 - Series 
    - Series 선언하기
    - Series vs ndarray
    - Series vs dict
    - Series에 이름 붙이기
3. Pandas로 2차원 데이터 다루기 - dataframe
    - dataframe 선언하기
    - from csv to dataframe
    - dataframe 자료 접근하기

[수업에 사용된 covid 데이터](https://www.kaggle.com/imdevskp/corona-virus-report)

## I. pandas 시작하기

## II. pandas로 1차원 데이터 다루기 - Series

## III. Pandas로 2차원 데이터 다루기 - dataframe

## Mission:
### 1. covid 데이터에서 100 case 대비 사망률(`Deaths / 100 Cases`)이 가장 높은 국가는?

In [8]:
import pandas as pd
covid = pd.read_csv("./archive/country_wise_latest.csv")

covid[covid['Deaths / 100 Cases'] == covid['Deaths / 100 Cases'].max()]['Country/Region']

184    Yemen
Name: Country/Region, dtype: object

### 2. covid 데이터에서 신규 확진자가 없는 나라 중 WHO Region이 'Europe'를 모두 출력하면?  
Hint : 한 줄에 동시에 두가지 조건을 Apply하는 경우 Warning이 발생할 수 있습니다.

In [26]:
covid_no_cases = covid['New cases']==0
covid_europe = covid['WHO Region']=='Europe'
answer = covid[covid_no_cases & covid_europe]
answer

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
56,Estonia,2034,69,1923,42,0,0,1,3.39,94.54,3.59,2021,13,0.64,Europe
75,Holy See,12,0,12,0,0,0,0,0.00,100.00,0.00,12,0,0.00,Europe
95,Latvia,1219,31,1045,143,0,0,0,2.54,85.73,2.97,1192,27,2.27,Europe
100,Liechtenstein,86,1,81,4,0,0,0,1.16,94.19,1.23,86,0,0.00,Europe
113,Monaco,116,4,104,8,0,0,0,3.45,89.66,3.85,109,7,6.42,Europe
143,San Marino,699,42,657,0,0,0,0,6.01,93.99,6.39,699,0,0.00,Europe
157,Spain,272421,28432,150376,93613,0,0,0,10.44,55.20,18.91,264836,7585,2.86,Europe

### 3. 다음 [데이터](https://www.kaggle.com/neuromusic/avocado-prices)를 이용해 각 Region별로 아보카도가 가장 비싼 평균가격(AveragePrice)을 출력하면?

In [60]:
avocado = pd.read_csv("./archive/avocado.csv")
exp = avocado.groupby(avocado['region'])
exp.max()

                     Unnamed: 0  ...  year
region                           ...
Albany                       52  ...  2018
Atlanta                      52  ...  2018
BaltimoreWashington          52  ...  2018
Boise                        52  ...  2018
Boston                       52  ...  2018
BuffaloRochester             52  ...  2018
California                   52  ...  2018
Charlotte                    52  ...  2018
Chicago                      52  ...  2018
CincinnatiDayton             52  ...  2018
Columbus                     52  ...  2018
DallasFtWorth                52  ...  2018
Denver                       52  ...  2018
Detroit                      52  ...  2018
GrandRapids                  52  ...  2018
GreatLakes                   52  ...  2018
HarrisburgScranton           52  ...  2018
HartfordSpringfield          52  ...  2018
Houston                      52  ...  2018
Indianapolis                 52  ...  2018
Jacksonville                 52  ...  2018
LasVegas                     52  ...  2018
LosAngeles                   52  ...  2018
Louisville                   52  ...  2018
MiamiFtLauderdale            52  ...  2018
Midsouth                     52  ...  2018
Nashville                    52  ...  2018
NewOrleansMobile             52  ...  2018
NewYork                      52  ...  2018
Northeast                    52  ...  2018
NorthernNewEngland           52  ...  2018
Orlando                      52  ...  2018
Philadelphia                 52  ...  2018
PhoenixTucson                52  ...  2018
Pittsburgh                   52  ...  2018
Plains                       52  ...  2018
Portland                     52  ...  2018
RaleighGreensboro            52  ...  2018
RichmondNorfolk              52  ...  2018
Roanoke                      52  ...  2018
Sacramento                   52  ...  2018
SanDiego                     52  ...  2018
SanFrancisco                 52  ...  2018
Seattle                      52  ...  2018
SouthCarolina                52  ...  2018
SouthCentral                 52  ...  2018
Southeast                    52  ...  2018
Spokane                      52  ...  2018
StLouis                      52  ...  2018
Syracuse                     52  ...  2018
Tampa                        52  ...  2018
TotalUS                      52  ...  2018
West                         52  ...  2018
WestTexNewMexico             52  ...  2018

[54 rows x 13 columns]